@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply antialiased;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  @apply bg-neutral-500 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-neutral-500 text-white;
  -webkit-text-fill-color: white;
}

.prose h2,
.prose h3,
.prose h4 {
  scroll-margin-top: 100px;
}

.prose p:has(> img) {
  @apply flex;
}

.prose img {
  @apply mx-auto;
}

/* neutral-100 */
.grid-background {
  background-size: 14px 14px;
  background-image:
    linear-gradient(to right, #f5f5f5 1px, transparent 1px),
    linear-gradient(to bottom, #f5f5f5 1px, transparent 1px);
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cursor-blink {
  animation: cursor-blink 1s steps(2) infinite;
}
