@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.prose h2,
.prose h3,
.prose h4 {
  scroll-margin-top: 100px;
}

.prose p:has(> img) {
  @apply flex;
}

.prose img {
  @apply mx-auto;
}

.grid-background {
  background-size: 14px 14px;
  background-image:
    linear-gradient(to right, #f6f6f6 1px, transparent 1px),
    linear-gradient(to bottom, #f6f6f6 1px, transparent 1px);
}
